<%= render partial: 'header', locals: { obj: @summary, path: :summary_path } %>

<div class="summary-area">
  <table class="summary-table">
    <tr>
      <th>食費  </th><td class="currency"><%= to_currency(@summary.food) %></td>
      <th>家賃  </th><td class="currency"><%= to_currency(@summary.hous) %></td>
    </tr>
    <tr>
      <th>外食費</th><td class="currency"><%= to_currency(@summary.otfd) %></td>
      <th>光熱費</th><td class="currency"><%= to_currency(@summary.engy) %></td>
    </tr>
  </table>
  <hr class="line" />
  <table class="summary-table">
    <tr>
      <th>雑貨  </th><td class="currency"><%= to_currency(@summary.good) %></td>
      <th>通信費</th><td class="currency"><%= to_currency(@summary.cnct) %></td>
    </tr>
    <tr>
      <th>交際費</th><td class="currency"><%= to_currency(@summary.frnd) %></td>
      <th>医療費</th><td class="currency"><%= to_currency(@summary.medi) %></td>
    </tr>
    <tr>
      <th>交通費</th><td class="currency"><%= to_currency(@summary.trfc) %></td>
      <th>保険料</th><td class="currency"><%= to_currency(@summary.insu) %></td>
    </tr>
    <tr>
      <th>遊行費</th><td class="currency"><%= to_currency(@summary.play) %></td>
      <th>その他</th><td class="currency"><%= to_currency(@summary.othr) %></td>
    </tr>
  </table>
  <hr class="line" />
  <table class="summary-table">
    <tr>
      <th class="dummy"></th><td class="dummy"></td>
      <th>合計  </th><td class="currency"><%= to_currency(@summary.ttal) %></td>
    </tr>
    <tr>
      <th class="dummy"></th><td class="dummy"></td>
      <th>収支  </th><td class="currency"><%= to_currency(@summary.blnc) %></td>
    </tr>
  </table>
  <div class="pdf-area">
    <%= link_to image_tag(asset_path('pdf.svg')), summary_pdf_path %>
  </div>
</div>

