<%= form_tag session_path, :method => :post do %>
  <table class="login">
    <tr>
      <td class="label"><%= label_tag :mail, 'Mail:' %></td>
      <td class="input"><%= text_field_tag :mail, '', class: 'txt-mail' %></td>
    </tr>
    <tr>
      <td class="label"><%= label_tag :password, 'Pass:' %></td>
      <td class="input"><%= password_field_tag :password, '', class: 'txt-pass' %></td>
    </tr>
    <tr>
      <td colspan="2" class="button"><%= submit_tag "Login", class: 'btn-login' %></td>
    </tr>
  </table>
<% end %>
