<%= form_tag session_path, :method => :post do %>
    <div class="field">
    <%= label_tag :mail %><br />
    <%= text_field_tag :mail %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
