<%= render partial: 'header', locals: { obj: @summary, path: :summary_path } %>

<div class="summary-area">
  <div class="summary-pdf-area">
    <%= link_to '収支表', summary_pdf_path, target: '_blank', class: 'pdf-link' %>
  </div>
  <table class="summary">
    <tr>
      <th>食費  </th><td id="sum-food" class="currency"><%= to_currency(@summary.food) %></td>
      <th>家賃  </th><td id="sum-hous" class="currency"><%= to_currency(@summary.hous) %></td>
    </tr>
    <tr>
      <th>外食費</th><td id="sum-otfd" class="currency"><%= to_currency(@summary.otfd) %></td>
      <th>光熱費</th><td id="sum-engy" class="currency"><%= to_currency(@summary.engy) %></td>
    </tr>
  </table>
  <hr class="line" />
  <table class="summary">
    <tr>
      <th>雑貨  </th><td id="sum-good" class="currency"><%= to_currency(@summary.good) %></td>
      <th>通信費</th><td id="sum-cnct" class="currency"><%= to_currency(@summary.cnct) %></td>
    </tr>
    <tr>
      <th>交際費</th><td id="sum-frnd" class="currency"><%= to_currency(@summary.frnd) %></td>
      <th>医療費</th><td id="sum-medi" class="currency"><%= to_currency(@summary.medi) %></td>
    </tr>
    <tr>
      <th>交通費</th><td id="sum-trfc" class="currency"><%= to_currency(@summary.trfc) %></td>
      <th>保険料</th><td id="sum-insu" class="currency"><%= to_currency(@summary.insu) %></td>
    </tr>
    <tr>
      <th>遊行費</th><td id="sum-play" class="currency"><%= to_currency(@summary.play) %></td>
      <th>その他</th><td id="sum-othr" class="currency"><%= to_currency(@summary.othr) %></td>
    </tr>
  </table>
  <hr class="line" />
  <table class="summary">
    <tr>
      <th class="dummy"></th><td class="dummy"></td>
      <th>合計  </th><td id="sum-ttal" class="currency"><%= to_currency(@summary.ttal) %></td>
    </tr>
    <tr>
      <th class="dummy"></th><td class="dummy"></td>
      <th>収支  </th><td id="sum-blnc" class="currency"><%= to_currency(@summary.blnc) %></td>
    </tr>
  </table>
</div>

