<!DOCTYPE html>
<html>
<head>
  <title>AbShip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="application-area">
  <div id="nav">
    <table>
      <tr>
        <td><%= link_to image_tag(asset_path('icon_032.png')), :root %></td>
        <td class="nav-text">
          <% if current_user %>
            <%= link_to '編集', edit_user_path(current_user.id) %> |
            <%= link_to 'ログアウト', :logout, method: :post %>
          <% else %>
            <%= link_to '登録', new_user_path %> |
            <%= link_to 'ログイン', :login %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="tab-menu">
    <ul>
      <li class="<%= @expense_selected ? 'on' : 'off' %>"><%= link_to '支出  ', expense_path(year: Date.today.year, mnth: Date.today.month) %></li>
      <li class="<%= @summary_selected ? 'on' : 'off' %>"><%= link_to '集計  ', summary_path(year: Date.today.year, mnth: Date.today.month) %></li>
      <li class="<%= @graphic_selected ? 'on' : 'off' %>"><%= link_to 'グラフ', graphic_path(year: Date.today.year, mnth: Date.today.month) %></li>
      <li class="<%= @balance_selected ? 'on' : 'off' %>"><%= link_to '収支  ', balance_path %></li>
      <li class="<%= @private_selected ? 'on' : 'off' %>"><%= link_to '秘密  ', private_path %></li>
      <li class="<%= @setfile_selected ? 'on' : 'off' %>"><%= link_to 'ＤＢ  ', setfile_path %></li>
    </ul>
  </div>
  <div class="context">
    <div class="main-area">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
